body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin: 10% 0 10% 0;
}

.r{
    transform: scaleX(-1);
    display: inline-block;
    color: blue;
}

.flex_container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.flex_container ul {
    display: flex; /* Arrangerer li'erne i en række */
    list-style-type: none; /* Fjerner punktegn */
    margin: 0; /* Fjerner standard margin */
    padding: 0; /* Fjerner standard padding */
    gap: 20px; /* Tilføjer mellemrum mellem menupunkterne */
  }

  .flex_container a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
  }

  .flex_container a:hover{
    color: blue;
  }

  .box_grid {
    display: grid;
    grid-template-columns: 1fr; 
    justify-content: center; 
    gap: 15px; 
  }

  .box {
    width: 100%; /* Sikrer, at boksene tilpasses rammen */
    border: 1px solid black;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box_grid a{
    text-decoration: none;
    color: black;
  }

  .box_grid a:hover{
    color: blue;
    border: 1px solid blue;
  }

  .productList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  
  .card img{
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid black;
  }

  .card{
    position: relative;
    border: 1px solid black;
  }

  .card p, h3{
    padding-left: 3%;
  }

  .grey{
    color: rgb(180, 180, 180);
  }
  
  .udsolgt{
    opacity: 40%;
  }

  .sale{
    position: absolute;
    background-color: lightblue;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }

  .soldout {
    position: absolute;
    background-color: #444;
    color: #fff;
    padding: 15px 15px 15px 15px;
   }

  .knap{
    background-color: blue;
    border: 1px solid blue;
    margin: 3% 50% 10% 3%;
    padding: 3%;
  }
  .knap a{
    color: white;
    text-decoration: none;
  }
  .knap a:hover{
      color: blue;
    }
    .knap:hover{
      background-color: transparent;
      border: 1px solid blue;
    }

  .link_sti{
    font-size: 10px;
    font-weight: lighter;
  }

  .produkt_grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .produkt_img{
    max-width: 100%;
  }
  .produkt_tekstboks{
    grid-column: 2/3;
  }
  .produkt_tekstboks h3{
    font-size: 15px;
    margin: 0;
    padding: 37% 0 20% 0 ;
  }
  .produkt_tekstboks h4{
    font-size: 13px;
    margin: 0;
    padding: 0;
  }
  .produkt_tekstboks p{
    font-size: 13px;
    margin: 0 0 15% 0;
    padding: 0;
  }

  .blue_tekstboks{
    position: relative;
    border: 1px solid blue;
    margin: 10% 7% 0 5%;
    padding: 10% 0 50% 0;
  }
  .blue_tekstboks h3,
  .blue_tekstboks p,
  .blue_tekstboks a{
    padding-left: 5%;
  }

  .choose_size {
    position: absolute; /* Gør det muligt at flytte den frit */
    top: 58%; /* Justér vertikal placering */
    left: 3%; /* Justér horisontal placering */
    display: inline-block;
    border: 1px solid black;
}
.size_button {
    background-color:#fff;
    color: blue;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 10px;
}
.size_dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid black;
    width: 100%;
    color: blue;
    display: none;
}
.size_dropdown li {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 10px;
}
.size_dropdown li:hover {
    background-color: #fff;
}
.choose_size:hover .size_dropdown {
    /* Synlig, når man klikker */
    display: block;
}


  /********************************/
    /*TILPASNING TIL TABLETS*/
  /********************************/
  @media (min-width: 768px) and (max-width: 1024px) {
    .box_grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        gap: 15px;
        max-width: 780px;
        margin: 0 auto;
    }
    .box{
        max-width: 240px;
    }
    h2{
        text-align: center;
    }
    .productList{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }
    .produkt_grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .produkt_tekstboks h3{
        font-size: 25px;
        margin: 0;
        padding: 22% 0 20% 0 ;
      }
      .produkt_tekstboks h4{
        font-size: 15px;
        margin: 0;
        padding: 0;
      }
      .produkt_tekstboks p{
        font-size: 15px;
        margin: 0 0 15% 0;
        padding: 0;
      }

  }

  /********************************/
    /*TILPASNING TIL DESKTOP*/
  /********************************/
  @media (min-width: 1025px) {
    .box_grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        gap: 15px;
        max-width: 1024px;
        margin: 0 auto;
    }
    .box{
        max-width: 340px;
    }
    h2{
        text-align: center;
    }
    .productList{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1rem;    
    }
    .produkt_grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .produkt_tekstboks h3{
        font-size: 25px;
        margin: 0;
        padding: 22% 0 10% 0 ;
      }
      .produkt_tekstboks h4{
        font-size: 15px;
        margin: 0;
        padding: 0;
      }
      .produkt_tekstboks p{
        font-size: 15px;
        margin: 0 0 8% 0;
        padding: 0;
      }
      .knap{
        background-color: blue;
        border: 1px solid blue;
        margin: 30% 68% 10% 5%;
        padding: 3%;
      }

      .choose_size {
        position: absolute; /* Gør det muligt at flytte den frit */
        top: 18%; /* Justér vertikal placering */
        left: 60%; /* Justér horisontal placering */
        display: inline-block;
        border: 1px solid black;
    }
    .size_button {
        background-color:#fff;
        color: blue;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        border-radius: 5px;
    }
    .size_dropdown {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        background-color: white;
        border: 1px solid black;
        width: 100%;
        color: blue;
        display: none;
    }
    .size_dropdown li {
        padding: 10px;
        cursor: pointer;
        text-align: center;
        font-size: 13px;
    }
    .size_dropdown li:hover {
        background-color: #fff;
    }
    .choose_size:hover .size_dropdown {
        /* Synlig, når man klikker */
        display: block;
    }
  }